@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.b-ya-map {
	width: 100%;
	height: 500px;
	display: block;
}

.ymaps-2-1-64-balloon__tail,
.ymaps-2-1-64-balloon__tail:after,
.ymaps-2-1-64-balloon,
.ymaps-2-1-64-balloon * {
	background: red !important;
	border-color: red !important;
}

.ymaps-2-1-64-balloon__close {
	color: #fff;
	&:after {
		color: #fff;
		content: 'x';
		position: absolute;
		display: inline-block;
		margin: 0 auto;
		top: 10px;
		right: 10px;
		font-size: 2rem;
	}
}

.balloon {

}

.balloon-img-block {
}

.balloon-img {
	//max-height: 100%;
	max-width: 100%;
	width: 300px;
	margin: 0 auto;
}

.balloon-name {
}

.balloon-url {
}

.balloon-address {
}

.balloon-type_name {
}

.balloon-phone {
}

#map {
	background: rgba(100, 100, 100, 0.5);
}

[class^="ymaps"] {
	[class$="ground-pane"] {
		filter: grayscale(100%);
		//filter: hue-rotate(180deg);
	}

}
